/target/
src/main/java/com/mycompany/crimsonproject/datateriners/eng.traineddata
*screenshot.png
src/main/java/com/mycompany/crimsonproject/CrimsonProject.java
src/main/java/com/mycompany/crimsonproject/MainExtractOre.java
src/main/java/com/mycompany/crimsonproject/CrimsonProject.java
src/main/java/com/mycompany/crimsonproject/CrimsonProject.java
src/main/java/com/mycompany/crimsonproject/Main.java
