/target/
src/main/java/com/mycompany/crimsonproject/screenshots/screenshot.png
src/main/java/com/mycompany/crimsonproject/MainPC.java
src/main/java/com/mycompany/crimsonproject/screenshots/screenshot.png
src/main/java/com/mycompany/crimsonproject/soundlogs/MainAudio.java
