/target/
src/main/java/com/mycompany/crimsonproject/datateriners/eng.traineddata
*screenshot.png
src/main/java/com/mycompany/crimsonproject/Main.java
src/main/java/com/mycompany/crimsonproject/MainNotebook.java
src/main/java/com/mycompany/crimsonproject/MainNotebook.java
